# SQL

Conectando em um banco postgres remoto com psycopg2

In [69]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2
import numpy as np
from sqlalchemy import create_engine
import io

host = 'data-science.cjkghcc9gsud.us-east-1.rds.amazonaws.com'
port = 5432
dbname = 'db3'
username = 'trainingwrite'
pwd = 'trainingwrite'

conn = psycopg2.connect(f"host='{host}' port={port}  dbname='{dbname}' user={username} password={pwd}")

In [70]:
query = 'SELECT * FROM teste5'
df = sqlio.read_sql_query(query, conn)

In [71]:
df

   index  a  b
0      0  1  4
1      1  2  3
2      2  3  2
3      3  4  1
4      4  0  0
5      5  1  1
6      6  2  2
7      7  3  3
8      8  4  4

Criando tabela no schema de treino

In [72]:
%time df = pd.DataFrame({'col1':np.random.random(1000) , 'col2':np.random.random(1000)})
df.head(10)

Wall time: 0 ns

       col1      col2
0  0.452313  0.337163
1  0.597845  0.869110
2  0.891261  0.471389
3  0.683479  0.692223
4  0.706336  0.873535
5  0.302285  0.394499
6  0.378814  0.650194
7  0.852873  0.106283
8  0.038916  0.499037
9  0.047853  0.874112

In [68]:
engine = create_engine('postgresql://trainingwrite:trainingwrite@data-science.cjkghcc9gsud.us-east-1.rds.amazonaws.com:5432/db3')
%time df.to_sql('teste1k', engine,if_exists='replace') # 1000 linhas em 157 segundos

Wall time: 2min 37s

Método raiz (muito mais rapido e eficiente de mandar uma tabela)

In [63]:
## faster edition

table_name = 'big_table' 
%time df.head(0).to_sql(table_name, engine, if_exists='replace',index=False) #truncates the table
%time df = pd.DataFrame({'col1':np.random.random(100000) , 'col2':np.random.random(100000)})

%time conn = engine.raw_connection()
%time cur = conn.cursor()
%time output = io.StringIO()
%time df.to_csv(output, sep='\t', header=False, index=False)
%time output.seek(0)
%time contents = output.getvalue()
%time cur.copy_from(output, table_name, null="") # 100mil linhas em 11 segundos
%time conn.commit()

Wall time: 4 ms
Wall time: 3.3 s
Wall time: 0 ns
Wall time: 0 ns
Wall time: 0 ns
Wall time: 419 ms
Wall time: 0 ns
Wall time: 999 µs
Wall time: 11.7 s
Wall time: 142 ms