# SQL

Conectando em um banco postgres remoto com psycopg2

In [61]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2

# host = 'datascience-training.cjkghcc9gsud.us-east-1.rds.amazonaws.com'
host = 'data-science.cjkghcc9gsud.us-east-1.rds.amazonaws.com'
port = 5432
dbname = 'db3'
username = 'trainingwrite'
pwd = 'trainingwrite'

conn = psycopg2.connect(f"host='{host}' port={port}  dbname='{dbname}' user={username} password={pwd}")

In [47]:
query = 'SELECT * FROM teste5'
df = sqlio.read_sql_query(query, conn)

In [50]:
df

   index  a  b
0      0  1  4
1      1  2  3
2      2  3  2
3      3  4  1
4      4  0  0
5      5  1  1
6      6  2  2
7      7  3  3
8      8  4  4

Criando tabela no schema de treino

In [53]:
import numpy as np

In [57]:
df = pd.DataFrame({'col1':np.random.random(50) , 'col2':np.random.random(50)})
df.head(10)

       col1      col2
0  0.154455  0.805206
1  0.912862  0.244234
2  0.798715  0.269752
3  0.114410  0.626435
4  0.857641  0.666580
5  0.019195  0.278471
6  0.721638  0.211717
7  0.792503  0.661980
8  0.671720  0.273256
9  0.330676  0.436140

In [62]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://trainingwrite:trainingwrite@data-science.cjkghcc9gsud.us-east-1.rds.amazonaws.com:5432/db3')

In [58]:
df.to_sql('teste6', engine,if_exists='replace')

Método raiz (muito mais rapido e eficiente de mandar uma tabela)

In [63]:
## faster edition
import io

table_name = 'big_table' 
%time df = pd.DataFrame({'col1':np.random.random(100000) , 'col2':np.random.random(100000)})
%time df.head(0).to_sql(table_name, engine, if_exists='replace',index=False) #truncates the table

%time conn = engine.raw_connection()
%time cur = conn.cursor()
%time output = io.StringIO()
%time df.to_csv(output, sep='\t', header=False, index=False)
%time output.seek(0)
%time contents = output.getvalue()
%time cur.copy_from(output, table_name, null="") # null values become ''
%time conn.commit()

Wall time: 4 ms
Wall time: 3.3 s
Wall time: 0 ns
Wall time: 0 ns
Wall time: 0 ns
Wall time: 419 ms
Wall time: 0 ns
Wall time: 999 µs
Wall time: 11.7 s
Wall time: 142 ms