## Pandas

In [1]:
import pandas as pd

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127, 
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [6]:
area = pd.Series({'California': 423967,
                  'Texas': 695662,
                  'New York': 141297,
                  'Florida': 170312,
                  'Illinois': 149995})

data = pd.DataFrame({'area':area, 'pop':population})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [9]:
type(1)

int

In [10]:
type(data)

pandas.core.frame.DataFrame

In [8]:
data.to_csv('exemplo.csv')

In [6]:
data['density'] = data['pop'] / data['area']

In [7]:
data

              area       pop     density
California  423967  38332521   90.413926
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

In [12]:
novo_dataframe = pd.DataFrame({'col1':[1,2,3,4,5], 'col2':[5,4,3,2,1]})

In [15]:
novo_dataframe.mean()

col1    3.0
col2    3.0
dtype: float64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, California to Illinois
Data columns (total 2 columns):
area    5 non-null int64
pop     5 non-null int64
dtypes: int64(2)
memory usage: 120.0+ bytes

In [16]:
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [22]:
mascara_pop = (data['pop'] > 19552860) & (data['area']>423967)

In [23]:
mascara_pop

California    False
Texas          True
New York      False
Florida       False
Illinois      False
dtype: bool

In [24]:
data[(data['pop'] > 19552860) | (data['area']>423967)]

         area       pop
Texas  695662  26448193