# LAB: Introdução a Pandas 1

## 1. Introdução

Neste caso usaremos uma versão muito resumida dos dados do [Censo Demográfico (levantamento realizado pelo INDEC)](http://www.indec.gov.ar/bases-de-datos.asp). Trata-se de uma pesquisa contínua cujo objetivo principal é gerar informações sobre o funcionamento do mercado de trabalho.

Utilizaremos apenas algumas variáveis (idade, escolaridade, número de horas trabalhadas, qualificação da tarefa e renda do trabalho) e alguns casos (os empregados, ou seja, aqueles que trabalharam pelo menos uma hora na semana anterior à pesquisa).

### 1.1 Importamos os pacotes a serem usados

In [1]:
import pandas as pd

### 1.2 Importamos os dados a serem usados

In [2]:
#teste= f'numero de linhas: {df.shape[0]}'
#teste

In [7]:
#path = r'D:\OneDrive\dh\ds\módulo1\Aula6-PandasI\data_filt.csv'
path = r'/Users/marcelocolonno/Desktop/DH - Curso DataScience/Modulo 1/Aula6 - Pandas/Aula6-data_filt.csv'
path

'/Users/marcelocolonno/Desktop/DH - Curso DataScience/Modulo 1/Aula6 - Pandas/Aula6-data_filt.csv'

In [8]:
df = pd.read_csv(path, encoding = 'latin1', engine='python', delimiter=',')

In [9]:
df

       ch06           nivel_ed  htot            calif     p47t
0        46        1_H/Sec inc    45  2_Op./No calif.   6000.0
1        26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
2        47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
3        52        1_H/Sec inc    90  2_Op./No calif.  11000.0
4        45        1_H/Sec inc    44  2_Op./No calif.   9500.0
5        38  2_Sec. comp y más    72    1_Prof./Tecn.   6000.0
6        40  2_Sec. comp y más    44  2_Op./No calif.   9000.0
7        53        1_H/Sec inc    72  2_Op./No calif.   4260.0
8        24        1_H/Sec inc    55  2_Op./No calif.   3800.0
9        44  2_Sec. comp y más    60  2_Op./No calif.  10517.0
10       72        1_H/Sec inc    15    1_Prof./Tecn.   8300.0
11       40  2_Sec. comp y más    42  2_Op./No calif.   4900.0
12       43  2_Sec. comp y más    15    1_Prof./Tecn.  11000.0
13       47  2_Sec. comp y más    45  2_Op./No calif.   9000.0
14       40        1_H/Sec inc    14  2_Op./No calif.   3500.0
15       40        1_H/Sec inc    55  2_Op./No calif.   8000.0
16       43        1_H/Sec inc    48  2_Op./No calif.   2500.0
17       43        1_H/Sec inc    72  2_Op./No calif.   7500.0
18       42        1_H/Sec inc    72  2_Op./No calif.   5000.0
19       29        1_H/Sec inc    20  2_Op./No calif.   5500.0
20       44  2_Sec. comp y más    36    1_Prof./Tecn.   7000.0
21       25  2_Sec. comp y más    36  2_Op./No calif.   6500.0
22       48        1_H/Sec inc    30  2_Op./No calif.   3000.0
23       19  2_Sec. comp y más    25  2_Op./No calif.   2000.0
24       53        1_H/Sec inc    40  2_Op./No calif.   9100.0
25       47        1_H/Sec inc    36  2_Op./No calif.   5100.0
26       40        1_H/Sec inc    40  2_Op./No calif.   7200.0
27       54        1_H/Sec inc    70  2_Op./No calif.   4800.0
28       37        1_H/Sec inc    51  2_Op./No calif.   2700.0
29       37        1_H/Sec inc    24  2_Op./No calif.   3000.0
...     ...                ...   ...              ...      ...
23418    37  2_Sec. comp y más    48  2_Op./No calif.  10500.0
23419    36  2_Sec. comp y más    40    1_Prof./Tecn.  13000.0
23420    29  2_Sec. comp y más    40  2_Op./No calif.   9500.0
23421    28  2_Sec. comp y más    40  2_Op./No calif.   9700.0
23422    29        1_H/Sec inc    48    1_Prof./Tecn.   3500.0
23423    47        1_H/Sec inc    60  2_Op./No calif.   8400.0
23424    28  2_Sec. comp y más    20  2_Op./No calif.   3500.0
23425    46  2_Sec. comp y más    40    1_Prof./Tecn.  12000.0
23426    58  2_Sec. comp y más    20  2_Op./No calif.   6000.0
23427    33  2_Sec. comp y más    48  2_Op./No calif.   5500.0
23428    36  2_Sec. comp y más    60  2_Op./No calif.   8200.0
23429    61  2_Sec. comp y más    30    1_Prof./Tecn.   6000.0
23430    62  2_Sec. comp y más    30    1_Prof./Tecn.   8500.0
23431    41  2_Sec. comp y más    56    1_Prof./Tecn.  15000.0
23432    38        1_H/Sec inc    44    1_Prof./Tecn.   6800.0
23433    41  2_Sec. comp y más    40    1_Prof./Tecn.   8000.0
23434    63  2_Sec. comp y más    18  2_Op./No calif.   7100.0
23435    39        1_H/Sec inc    48  2_Op./No calif.   3500.0
23436    37        1_H/Sec inc    50  2_Op./No calif.   5800.0
23437    65        1_H/Sec inc    56  2_Op./No calif.   3500.0
23438    31  2_Sec. comp y más    24  2_Op./No calif.   5800.0
23439    17        1_H/Sec inc    56  2_Op./No calif.   3500.0
23440    19        1_H/Sec inc    48  2_Op./No calif.   7000.0
23441    33        1_H/Sec inc    24  2_Op./No calif.   4450.0
23442    41  2_Sec. comp y más    39  2_Op./No calif.   9500.0
23443    45  2_Sec. comp y más    50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc    30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más    40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc    40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc    54  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

## 2. Explorando o dataset

### 2.1. Quantas filas e quantas colunas o dataset tem?

In [ ]:
df.info()

### 2.2 Que informação o dataset tem? Imprimir o nome das colunas

In [ ]:
df.columns

Os nomes das colunas não são muito descritivos a respeito das informações que elas contêm. Vamos tentar mudá-los pela seguinte lista: 

['idade', 'escolaridade', 'hs_trabalhadas', 'qualificação_ocupacional', 'renda_ult_mes']

In [ ]:
df.columns = ['idade', 'escolaridade', 'hs_trabalhadas', 'qualificação_ocupacional', 'renda_ult_mes']

### 2.3 Como o dataset está indexado?

In [ ]:
df.index

### 2.4 Qual é o tipo da quarta coluna?

In [ ]:
df.iloc[:,3].dtype

### 2.4 Qual é a escolaridade mais comum?

In [ ]:
df["escolaridade"].value_counts().head(1)

### 2.5 E como a população é distribuída segundo a qualificação?

In [ ]:
df["qualificação_ocupacional"].value_counts().head(1)

### 2.6 Qual é a renda total da população?

In [ ]:
df['renda_ult_mes'].sum()

### 2.4 Qual é a renda média da população?

In [ ]:
df['renda_ult_mes'].mean()

## 3. Indexando e organizando os dados

### 3.1 Selecionar a coluna `escolaridade` e `renda_ult_mes` e atribuí-las a um objeto novo chamado `df2`

In [ ]:
df2 = df[['escolaridade','renda_ult_mes']]

### 3.2 Selecionar as primeiras 20 filas de df2

In [ ]:
df2[0:20]

### 3.2 Selecionar uma amostra aleatória de 500 filas de df

In [ ]:
df.sample(500)

### 3.4 Escolher todas as colunas, exceto escolaridade. Dica: Utilizar a propriedade columns para filtrar na dimensão das colunas.

In [ ]:
df.loc[:,df.columns != 'escolaridade']

### 3.5 Organizar o dataset segundo a idade

In [ ]:
df.sort_values(['idade'], ascending = True)

### 3.6 Qual é a média de horas trabalhadas dos jovens entre 14 e 25 anos pouco qualificados?

In [ ]:
df['qualificação_ocupacional'].value_counts()

In [ ]:
df['hs_trabalhadas'][(df['idade'] >= 14) & \
                     (df['idade'] <= 25) & \
                     (df['qualificação_ocupacional'] == '2_Op./No calif.')].mean()

### 3.7 Gerar um novo dataframe com os trabalhadores que ganham mais que a renda média geral e estão abaixo do número médio de horas trabalhadas. Quantos trabalhadores estão nesta condição? Qual é a média de idade deles?

In [ ]:
df3 = df.loc[(df['renda_ult_mes'] > df.renda_ult_mes.mean())
             & (df['hs_trabalhadas'] < df.hs_trabalhadas.mean())]

df3.head()

In [ ]:
df3.shape

In [ ]:
df3.idade.mean()