# Análise exploratória de dados com Python

**Primeiros passos**

### Habilidades em Python:
- Iteradores;
- Condicionais;
- Funções.
 
### Habilidades em Estatistica:
- As diferentes formas de centralidade

### Habilidade de Negócios:
- Pensando no problema a ser respondido
---> Homens ganham mais do que mulheres nesse dataset?


# O que é análise exploratória de dados

*fonte: Wikipedia*

Em estatística, a **análise exploratória de dados (AED)** é uma abordagem à análise de conjuntos de dados de modo a resumir suas características principais, frequentemente com métodos visuais. Um modelo estatístico pode ou não ser usado, mas primariamente a AED tem como objetivo observar o que os dados podem nos dizer além da modelagem formal ou do processo de teste de hipóteses. A análise exploratória de dados foi promovida pelo estatístico norte-americano John Tukey, que incentivava os estatísticos a explorar os dados e possivelmente formular hipóteses que poderiam levar a novas coletas de dados e experimentos. A **AED** é diferente da análise inicial de dados (AID), que se concentra mais estreitamente em verificar os pressupostos exigidos para ajuste de modelos e teste de hipóteses, além de manusear valores faltantes e fazer transformações de variáveis conforme necessário. A análise exploratória de dados abrange a AID.

A análise exploratória de dados emprega grande variedade de técnicas gráficas e quantitativas, visando maximizar a obtenção de informações ocultas na sua estrutura, descobrir variáveis importantes em suas tendências, detectar comportamentos anômalos do fenômeno, testar se são válidas as hipóteses assumidas, escolher modelos e determinar o número ótimo de variáveis.

Os softwares atualmente disponíveis possibilitam que esta técnica se constitua em uma ferramenta para descobrir quais tendências, relações e padrões podem estar ocultos em uma coleção de dados analisados. Seguindo as diretrizes propostas por Tukey, os investigadores deveriam iniciar sua análise pelo exame dos dados disponíveis e depois decidir qual técnica aplicar para resolver o problema. 

### Etapas

Para realizar uma AED recomenda-se seguir as seguintes etapas:

1. Encontrar, acessar e abrir os dados na interface de trabalho (Python);

2. Identificar as informações básicas dos dados com por exemplo conhecer as colunas, missing values, outliers, medidas de centralidade (média, mediana, moda) e dispersão (desvio padrão, variância;

3. Reconhecimento dos tipos de variáveis (figura 1) e como tratar cada uma delas;

4. Análise gráfica para veirficação do comportamento das variáveis (linearidade, normalidade);

5. Descrição da relação entre as variávies contidas nos dados (correlações).

#### Figura 1: tipos de variáveis em estatística descritiva

<img src="img/tipos_de_variaveis.png">

# Trabalhando os arquivos com Python

### Abrindo o arquivo e acessando os dados

In [37]:
import csv

with open(r'data/data.csv', 'r') as data_csv:
    data = csv.reader(data_csv)
     
    for i, line in enumerate(data):
        if i < 100:
            print(line)
            
    print(i)

['', 'id', 'idade', 'sexo', 'anos_estudo', 'cor/raca', 'salario', 'estado_civil', 'regiao']
['0', '11001901101.0', '53', 'homem', '5.0', 'Parda', '63600.0', '1.0', 'norte']
['1', '11001901102.0', '49', 'mulher', '8.0', 'Amarela', '', '1.0', 'norte']
['2', '11001901103.0', '22', 'mulher', '11.0', 'Indigena', '4352.400390625', '0.0', 'nordeste']
['3', '11001903101.0', '55', 'homem', '15.0', 'Amarela', '96600.0', '1.0', 'norte']
['4', '11001903102.0', '56', 'mulher', '15.0', 'Amarela', '157800.0', '1.0', 'norte']
['5', '11001903103.0', '30', 'mulher', '15.0', 'Amarela', '88550.0', '0.0', 'nordeste']
['6', '11001904101.0', '52', 'mulher', '5.0', 'Branca', '6734.400390625', '0.0', 'norte']
['7', '11001904104.0', '29', 'homem', '5.0', 'Parda', '14875.20068359375', '0.0', 'norte']
['8', '11001904105.0', '29', 'mulher', '11.0', 'Parda', '6734.400390625', '0.0', 'norte']
['9', '11001905101.0', '46', 'mulher', '15.0', 'Branca', '54300.0', '1.0', 'norte']
['10', '11001905102.0', '52', 'homem', '11.0', 'Branca', '42768.0', '1.0', 'norte']
['11', '11001905103.0', '22', 'mulher', '13.0', 'Branca', '34500.0', '0.0', 'norte']
['12', '11001907101.0', '26', 'mulher', '11.0', 'Parda', '981.0', '1.0', 'norte']
['13', '11001907102.0', '20', 'homem', '7.0', 'Parda', '1581.5999755859375', '1.0', 'norte']
['14', '11001908101.0', '30', 'mulher', '5.0', 'Parda', '5136.0', '1.0', 'norte']
['15', '11001908102.0', '48', 'homem', '5.0', 'Parda', '', '1.0', 'norte']
['16', '11001909101.0', '30', 'mulher', '5.0', 'Parda', '', '0.0', 'norte']
['17', '11001910101.0', '27', 'mulher', '6.0', 'Parda', '3712.0', '0.0', 'norte']
['18', '11001911101.0', '33', 'homem', '6.0', 'Parda', '10256.7998046875', '1.0', 'norte']
['19', '11001911102.0', '30', 'mulher', '11.0', 'Parda', '378.0', '1.0', 'norte']
['20', '11001912102.0', '34', 'mulher', '15.0', 'Preta', '15187.19921875', '0.0', 'norte']
['21', '11001912103.0', '28', 'mulher', '15.0', 'Preta', '', '0.0', 'norte']
['22', '11002702101.0', '25', 'homem', '11.0', 'Parda', '16560.0', '1.0', 'norte']
['23', '11002702102.0', '26', 'mulher', '11.0', 'Preta', '7792.19970703125', '1.0', 'norte']
['24', '11002703101.0', '32', 'homem', '7.0', 'Preta', '8904.0', '1.0', 'norte']
['25', '11002703102.0', '36', 'mulher', '5.0', 'Parda', '2805.2000122070312', '1.0', 'norte']
['26', '11002704101.0', '40', 'homem', '5.0', 'Parda', '24564.0', '1.0', 'norte']
['27', '11002704102.0', '38', 'mulher', '5.0', 'Parda', '31044.0', '1.0', 'norte']
['28', '11002706101.0', '27', 'homem', '9.0', 'Parda', '5550.0', '1.0', 'norte']
['29', '11002706102.0', '25', 'mulher', '11.0', 'Branca', '', '1.0', 'norte']
['30', '11002707101.0', '42', 'mulher', '15.0', 'Branca', '38844.2783203125', '1.0', 'norte']
['31', '11002707102.0', '43', 'homem', '15.0', 'Parda', '2034.0', '1.0', 'norte']
['32', '11002708101.0', '25', 'homem', '8.0', 'Parda', '2476.47998046875', '1.0', 'norte']
['33', '11002708102.0', '22', 'mulher', '5.0', 'Branca', '', '1.0', 'norte']
['34', '11002709101.0', '31', 'mulher', '11.0', 'Branca', '7062.0', '0.0', 'norte']
['35', '11002710101.0', '60', 'mulher', '5.0', 'Parda', '4240.0', '0.0', 'norte']
['36', '11002710102.0', '24', 'mulher', '11.0', 'Preta', '7233.240234375', '0.0', 'norte']
['37', '11002710103.0', '22', 'homem', '9.0', 'Parda', '5428.2001953125', '0.0', 'norte']
['38', '11002711103.0', '28', 'mulher', '11.0', 'Parda', '2180.0', '0.0', 'norte']
['39', '11002711104.0', '30', 'homem', '11.0', 'Parda', '5203.60009765625', '0.0', 'norte']
['40', '11002713101.0', '55', 'mulher', '10.0', 'Parda', '5328.599609375', '0.0', 'norte']
['41', '11002713102.0', '32', 'mulher', '8.0', 'Amarela', '723.2000122070312', '0.0', 'norte']
['42', '11003501101.0', '35', 'homem', '5.0', 'Parda', '24564.0', '1.0', 'norte']
['43', '11003501102.0', '31', 'mulher', '5.0', 'Parda', '', '1.0', 'norte']
['44', '11003502101.0', '40', 'homem', '5.0', 'Parda', '15960.0', '0.0', 'norte']
['45', '11003505101.0', '58', 'mulher', '5.0', 'Parda', '', '0.0', 'norte']
['46', '11003506101.0', '48', 'homem', '6.0', 'Parda', '25440.0', '1.0', 'norte']
['47', '11003506101.0', '27', 'mulher', '5.0', 'Parda', '5940.0', '1.0', 'nordeste']
['48', '11003507101.0', '24', 'homem', '5.0', 'Parda', '6300.0', '0.0', 'norte']
['49', '11003508101.0', '31', 'homem', '6.0', 'Branca', '13080.0', '1.0', 'norte']
['50', '11003508102.0', '30', 'mulher', '5.0', 'Preta', '2199.0', '1.0', 'norte']
['51', '11003510101.0', '41', 'homem', '5.0', 'Parda', '24091.2001953125', '0.0', 'norte']
['52', '11003510103.0', '47', 'homem', '5.0', 'Parda', '', '0.0', 'norte']
['53', '11003510104.0', '32', 'homem', '10.0', 'Parda', '', '0.0', 'norte']
['54', '11003511101.0', '37', 'homem', '5.0', 'Branca', '52320.0', '1.0', 'norte']
['55', '11003511102.0', '29', 'mulher', '11.0', 'Parda', '', '1.0', 'nordeste']
['56', '11003513101.0', '58', 'homem', '5.0', 'Parda', '15120.0', '1.0', 'norte']
['57', '11003513102.0', '34', 'mulher', '5.0', 'Branca', '0.0', '1.0', 'norte']
['58', '11004302101.0', '35', 'mulher', '8.0', 'Branca', '3780.0', '0.0', 'norte']
['59', '11004303102.0', '49', 'mulher', '11.0', 'Branca', '23674.80078125', '0.0', 'norte']
['60', '11004304101.0', '46', 'homem', '11.0', 'Parda', '23544.0', '1.0', 'norte']
['61', '11004304102.0', '39', 'mulher', '11.0', 'Branca', '23544.0', '1.0', 'norte']
['62', '11004305103.0', '26', 'homem', '7.0', 'Parda', '8652.0', '0.0', 'norte']
['63', '11004305104.0', '23', 'mulher', '10.0', 'Parda', '', '0.0', 'norte']
['64', '11004307101.0', '27', 'mulher', '5.0', 'Parda', '6489.0', '0.0', 'norte']
['65', '11004312101.0', '45', 'mulher', '14.0', 'Branca', '19080.0', '0.0', 'norte']
['66', '11004313101.0', '41', 'homem', '8.0', 'Parda', '10747.80078125', '0.0', 'norte']
['67', '11005101102.0', '27', 'mulher', '11.0', 'Preta', '3985.449951171875', '0.0', 'norte']
['68', '11005101103.0', '26', 'homem', '11.0', 'Preta', '3195.5', '0.0', 'norte']
['69', '11005101104.0', '28', 'homem', '11.0', 'Parda', '31392.0', '0.0', 'norte']
['70', '11005102101.0', '40', 'homem', '11.0', 'Preta', '13812.48046875', '0.0', 'norte']
['71', '11005103101.0', '41', 'mulher', '5.0', 'Parda', '', '0.0', 'norte']
['72', '11005103102.0', '27', 'homem', '7.0', 'Parda', '', '0.0', 'norte']
['73', '11005103103.0', '26', 'mulher', '11.0', 'Parda', '1278.0', '0.0', 'norte']
['74', '11005103104.0', '23', 'mulher', '7.0', 'Parda', '1291.5', '0.0', 'norte']
['75', '11005103105.0', '22', 'homem', '11.0', 'Parda', '3270.0', '0.0', 'norte']
['76', '11005103106.0', '21', 'mulher', '8.0', 'Parda', '1726.4000244140625', '0.0', 'norte']
['77', '11005103107.0', '23', 'homem', '11.0', 'Parda', '', '0.0', 'norte']
['78', '11005103110.0', '25', 'homem', '11.0', 'Parda', '', '0.0', 'norte']
['79', '11005104101.0', '43', 'mulher', '10.0', 'Indigena', '3296.0', '1.0', 'norte']
['80', '11005104102.0', '46', 'homem', '11.0', 'Branca', '', '1.0', 'norte']
['81', '11005104103.0', '21', 'mulher', '11.0', 'Parda', '', '0.0', 'norte']
['82', '11005104106.0', '27', 'homem', '5.0', 'Parda', '5288.400390625', '0.0', 'norte']
['83', '11005105101.0', '52', 'homem', '5.0', 'Parda', '5129.400390625', '0.0', 'norte']
['84', '11005106101.0', '50', 'mulher', '8.0', 'Parda', '5179.2001953125', '0.0', 'norte']
['85', '11005106102.0', '26', 'homem', '11.0', 'Parda', '', '0.0', 'norte']
['86', '11005106103.0', '23', 'homem', '13.0', 'Parda', '6104.0', '0.0', 'norte']
['87', '11005106105.0', '23', 'mulher', '11.0', 'Parda', '', '0.0', 'norte']
['88', '11005107101.0', '35', 'homem', '8.0', 'Parda', '6092.099853515625', '1.0', 'norte']
['89', '11005107102.0', '34', 'mulher', '6.0', 'Parda', '9450.0', '1.0', 'norte']
['90', '11005108101.0', '52', 'homem', '15.0', 'Parda', '', '1.0', 'norte']
['91', '11005108102.0', '49', 'mulher', '13.0', 'Parda', '21624.0', '1.0', 'norte']
['92', '11005108103.0', '22', 'homem', '12.0', 'Parda', '', '0.0', 'norte']
['93', '11005109102.0', '27', 'homem', '9.0', 'Branca', '1671.2000122070312', '0.0', 'norte']
['94', '11005110101.0', '22', 'homem', '10.0', 'Branca', '4987.600006103516', '0.0', 'norte']
['95', '11005112101.0', '55', 'homem', '5.0', 'Parda', '6249.599609375', '1.0', 'norte']
['96', '11005112102.0', '48', 'mulher', '11.0', 'Parda', '6249.599609375', '1.0', 'norte']
['97', '11005112103.0', '21', 'mulher', '15.0', 'Parda', '6249.599609375', '0.0', 'norte']
['98', '11005112104.0', '40', 'homem', '11.0', 'Parda', '1562.39990234375', '0.0', 'norte']
66470

In [38]:
type(data)

_csv.reader

In [29]:
import pandas as pd

df = pd.read_csv("data/data.csv") 
df.head()

,Unnamed: 0,id,idade,sexo,anos_estudo,cor/raca,salario,estado_civil,regiao
0,0,1.100190e+10,53,homem,5.0,Parda,63600.000000,1.0,norte
1,1,1.100190e+10,49,mulher,8.0,Amarela,NaN,1.0,norte
2,2,1.100190e+10,22,mulher,11.0,Indigena,4352.400391,0.0,nordeste
3,3,1.100190e+10,55,homem,15.0,Amarela,96600.000000,1.0,norte
4,4,1.100190e+10,56,mulher,15.0,Amarela,157800.000000,1.0,norte

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66470 entries, 0 to 66469
Data columns (total 9 columns):
Unnamed: 0      66470 non-null int64
id              66470 non-null float64
idade           66470 non-null int64
sexo            66470 non-null object
anos_estudo     66036 non-null float64
cor/raca        66228 non-null object
salario         47878 non-null float64
estado_civil    66470 non-null float64
regiao          66470 non-null object
dtypes: float64(4), int64(2), object(3)
memory usage: 4.6+ MB

### Medidas de Centralidade

#### Média:

Em estatística, média é definida como o valor que mostra para onde se concentram os dados de uma distribuição como o ponto de equilíbrio das frequências em um histograma.[1] Média também é interpretada como um valor significativo de uma lista de números.[2] Os valores de uma lista de números podem ser representados por meio da escolha aleatória de um número. Se todos os números forem iguais, o número escolhido aleatoriamente será a média. Então, a média pode ser calculada por meio da combinação dos números de maneira específica e da geração de um valor significativo. Entretanto, a palavra média é usualmente usada em métodos mais sofisticados como média aritmética, mediana, moda, entre outros.

Seguindo uma definição mais informal de "média", pode-se assumir que no campo da estatística, dados possuem posições. Por exemplo, cada valor dos lançamentos de um dado possui sua posição em uma planilha eletrônica. Em estatística, média é uma medida de posição que indica um valor uniforme dos dados. Por exemplo, o conjunto x = { 2 , 1 , 6 , 5 , 10 } {\displaystyle x=\{2,1,6,5,10\}} {\displaystyle x=\{2,1,6,5,10\}} possui média aritmética x ¯ = 4 , 8 {\displaystyle {\bar {x}}=4,8} {\displaystyle {\bar {x}}=4,8}. Embora 4 , 8 {\displaystyle 4,8} {\displaystyle 4,8} seja o valor médio, ele não é o valor central definido pela mediana.[3] 
A **média** (ou primeiro momento) é definida da seguinte maneira:

$$ \overline x = \frac{1}{n} \sum_i x_i $$

Por exemplo, para a mostra 8, 5, 3, -1, e -5, a média é:

In [7]:
numbers = [8,5,3,-1,-5]

somatorio = 0
for number in numbers:
    somatorio += number
    print(f'Somando {number} + {somatorio-number} = {somatorio}')
    
media = somatorio/len(numbers)
print('\nmédia:',media)

Somando 8 + 0 = 8
Somando 5 + 8 = 13
Somando 3 + 13 = 16
Somando -1 + 16 = 15
Somando -5 + 15 = 10

média: 2.0

#### Calculando a média para a coluna de dados da idade

In [20]:
media_idade = df['idade'].sum() / df.shape[0]
media_idade

37.6348126974575

### Medidas de Centralidade

#### Mediana:

A **Mediana** é o termo "do meio" de uma amostra ordenada. E ela depende se a amostra tem uma quantidade pares ou impares de elementos:

- Ímpar:
		[1, 2, 3, 5, 7, 8, 9, 10, 15]
		#elementos: 9
		A mediana é o valor da posição 5 (a posição do “meio”)
		Mediana =  7
        
        
- Par: 
		[-5, -1, 0, 1, 2, 3, 8, 20]
		#elementos: 8
		A mediana é a média dos valores nas duas posições centrais
		Mediana =  (1+2)/2 = 1.5

#### Calculando a mediana para a coluna de dados de idade

In [24]:
mediana_idade = df['idade'][df.shape[0]/2]
mediana_idade

51

### Medidas de Centralidade

#### Moda:

A **moda** é o valor que aparece com maior frequência ou mais vezes na distribuição. 

Por exemplo, a moda de [0,1,1,2,2,2,2,3,3,4,4,4,5] é 2.

A moda não é necessariamente única. Pode ser que existam dois valores diferentes que sejam os mais frequentes. Por exemplo, no caso de [10, 13, 13, 20, 20], tanto 13 como 20 são a moda.

In [34]:
df['idade'].value_counts().idxmax()

20

In [9]:
### fazer uma contagem para cada categoria usando dicionario

#### Calcular a média para a variável anos_estudo: