### Regressões Multiplas

Exemplo (1) Modelando uma regressão multipla para entender como diferentes variáveis afetam os preços de casas nos EUA.

Features:
- **price** - The last price the house was sold for
- **num_bed** - The number of bedrooms
- **num_bath** - The number of bathrooms (fractions mean the house has a toilet-only or shower/bathtub-only bathroom)
- **size_house** (includes basement) - The size of the house
- **size_lot** - The size of the lot
- **num_floors** - The number of floors
- **is_waterfront** - Whether or not the house is a waterfront house (0 means it is not a waterfront house whereas 1 means that it is a waterfront house)
- **condition** - How worn out the house is. Ranges from 1 (needs repairs all over the place) to 5 (the house is very well maintained)
- **size_basement** - The size of the basement
- **year_built** - The year the house was built
- **renovation_date** - The year the house was renovated for the last time. 0 means the house has never been renovated
- **zip** - The zip code
- **latitude** - Latitude
- **longitude** - Longitude
- **avg_size_neighbor_houses** - The average house size of the neighbors
- **avg_size_neighbor_lot** - The average lot size of the neighbors

In [4]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
%config InlineBackend.figure_formats=['svg']

In [5]:
df = pd.read_csv(r'./data/house_sales.csv')

In [6]:
df.describe()

,price,num_bed,num_bath,size_house,size_lot,num_floors,is_waterfront,condition,size_basement,year_built,renovation_date,zip,latitude,longitude,avg_size_neighbor_houses,avg_size_neighbor_lot
count,1.844800e+04,18448.000000,18448.000000,18448.000000,1.844800e+04,18448.000000,18448.000000,18448.000000,18448.000000,18448.000000,18448.000000,18448.000000,18448.000000,18448.000000,18448.000000,18448.000000
mean,5.423624e+05,3.372615,2.118888,2083.940915,1.503602e+04,1.494606,0.007643,3.411698,293.571498,1971.001138,85.145002,98077.921455,47.560030,-122.214419,1988.306483,12571.596216
std,3.720135e+05,0.933892,0.772384,921.416218,4.181455e+04,0.540806,0.087092,0.652593,443.607503,29.361619,403.371263,53.497440,0.138557,0.139910,686.173124,26329.260211
min,7.800000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,0.000000,1900.000000,0.000000,98001.000000,47.155933,-122.518648,399.000000,651.000000
25%,3.218375e+05,3.000000,1.750000,1430.000000,5.050000e+03,1.000000,0.000000,3.000000,0.000000,1952.000000,0.000000,98033.000000,47.471527,-122.328084,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1920.000000,7.600500e+03,1.500000,0.000000,3.000000,0.000000,1975.000000,0.000000,98065.000000,47.571599,-122.230688,1840.000000,7611.000000
75%,6.480000e+05,4.000000,2.500000,2560.000000,1.062525e+04,2.000000,0.000000,4.000000,570.000000,1997.000000,0.000000,98118.000000,47.677918,-122.125733,2370.000000,10050.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,5.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777624,-121.315254,6110.000000,858132.000000

In [ ]:
corrmat = df[['price','size_house','num_bath','size_house','size_lot','num_floors','is_waterfront','year_built','latitude','longitude','avg_size_neighbor_houses','avg_size_neighbor_lot']].corr()
cols = corrmat.nlargest(10, 'price')['price'].index
cm = np.corrcoef(df[cols].values.T)
sns.set(font_scale=1.15)
f, ax = plt.subplots(figsize=(12, 9))
hm = sns.heatmap(cm, cbar=True, annot=True, square=True, fmt='.2f', annot_kws={'size': 10}, yticklabels=cols.values, xticklabels=cols.values)

In [ ]:
from IPython.display import Image
Image(filename=r'img\houses_tableau.jpg')

In [ ]:
function1 = '''
price ~ 
 + size_house
 + num_bath
 + size_house
 + size_lot
 + num_floors
 + is_waterfront
 + year_built
 + latitude
 + longitude
 + avg_size_neighbor_houses
 + avg_size_neighbor_lot
'''

model1 = smf.ols(function1, df).fit()
print(model1.summary2())